.header-container {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  height: 30px;
  padding: 20px 25px 20px 15px;
}
.user-photo {
  height: 30px;
  padding: 20px 5px 20px 15px;
}
.header-text {
  color: gray;
  font-family: sans-serif;
}
.right-side {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10px;
}
.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-button{
  display: flex;
  align-items: center;
}
.actions{
  margin: 0 10px 0 10px;
}
.notifications{
  color: red;
  display: flex;
  align-items: center;
  padding: 2px 2px 2px 2px;
  border: red 1px solid;
  margin: 0 10px 0 10px;
}