<div class="page">
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="body">
    <div class="left-side">
      <p class="big-text">
        Welcome to UBS Hydra
      </p>
      <p class="small-text">A new DLT based Deposit Platform</p>
    </div>
    <div class="login-box">
      <p class="title">Log in</p>
      <p class="text">Enter your registered email address</p>
      <form [formGroup]="form">
        <input class="login-input" name="email" formControlName="email" />
        <button class="login-button" (click)="login()">LOGIN</button>
      </form>
    </div>
  </div>
</div>
